# Predix Machine - 16.2.0-SNAPSHOT
#
# Configuration properties for the PFA APM Configurator
#
# Service_PID=com.ge.pfa.apm.configurator
#


# Usage:
#
#       Properties set in this file may use the full property
#       name. For example:
#
#             <service_pid>.<property_key>=<property_value>

# Note:
#
#       Properties in configuration files are subject to a delay
#       as they rely on the config-admin and fileinstall bundles.
#

com.ge.pfa.apm.configurator.apmProjectRootDirectory="appdata/temp"
com.ge.pfa.apm.configurator.apmCollectorOfflineConfigDirectory="appdata/historianCollector/offlineConfig"
com.ge.pfa.apm.configurator.idprefix="FIELDAGENT-"

# Enterprise Classification Properties
com.ge.pfa.apm.configurator.enterpriseid="ENTERPRISE"
com.ge.pfa.apm.configurator.enterprisename="FIELDAGENT ENTERPRISE"
com.ge.pfa.apm.configurator.enterprisedesc="Description for Field Agent Enterprise"
com.ge.pfa.apm.configurator.enterpriseccomClass="ENTERPRISE_TYPE"

# Site Classification Properties
com.ge.pfa.apm.configurator.siteid="SITE"
com.ge.pfa.apm.configurator.sitename="FIELDAGENT SITE"
com.ge.pfa.apm.configurator.sitedesc="Description for Field Agent Site"
com.ge.pfa.apm.configurator.siteccomClass="SITE_TYPE"

# Area Classification Properties
com.ge.pfa.apm.configurator.areaid="AREA"
com.ge.pfa.apm.configurator.areaname="FIELDAGENT AREA"
com.ge.pfa.apm.configurator.areadesc="Description for Field Agent Area"
com.ge.pfa.apm.configurator.areaccomClass="SEGMENT_TYPE"

# Process Cell Classification Properties
com.ge.pfa.apm.configurator.processcellid="PROCESSCELL"
com.ge.pfa.apm.configurator.processcellname="FIELDAGENT PROCESSCELL"
com.ge.pfa.apm.configurator.processcelldesc="Description for Field Agent Process Cell"
com.ge.pfa.apm.configurator.processcellccomClass="SEGMENT_TYPE"

# Asset Classification Properties
com.ge.pfa.apm.configurator.assetid="ASSET"
com.ge.pfa.apm.configurator.assetname="FIELDAGENT ASSET"
com.ge.pfa.apm.configurator.assetdesc="Description for Field Agent Asset"
com.ge.pfa.apm.configurator.assetccomClass="ASSET_TYPE"

# Historian Properties
com.ge.pfa.apm.configurator.historianid="HISTORIAN-TAG"
com.ge.pfa.apm.configurator.historianname="HISTORIAN-TAG"
com.ge.pfa.apm.configurator.historiandesc="This is historian tag"
com.ge.pfa.apm.configurator.historianunitGroup="historiantag"

# Rest call Properties - QA
com.ge.pfa.apm.configurator.uri="https://apm-s95-adapter-apmcust.run.asv-pr.ice.predix.io/v1/asset/upload"
com.ge.pfa.apm.configurator.tenant="d49ec5c8-cb5a-4558-96bd-0a3aed5dd589"
com.ge.pfa.apm.configurator.id="ingestor.c6fa7ab4-3c3c-4113-9e8f-76559ee9c1a4.89970025-82c7-44ba-a68f-71ad7009d9e2"
com.ge.pfa.apm.configurator.secret=""
com.ge.pfa.apm.configurator.resturi="https://ee41b8a4-05ba-4d3b-82af-3dd652f2867e.predix-uaa.run.asv-pr.ice.predix.io/oauth/token"
com.ge.pfa.apm.configurator.taskuri="https://apm-s95-adapter-apmcust.run.asv-pr.ice.predix.io/v1/tasks"
com.ge.pfa.apm.configurator.granttype="password"
com.ge.pfa.apm.configurator.username="d49ec5c8-cb5a-4558-96bd-0a3aed5dd589_ingestor"
com.ge.pfa.apm.configurator.password=""
com.ge.pfa.apm.configurator.taskpoller="120"

# APM support - default IGS and Cimplicity OPCUA ports are defined here
com.ge.pfa.apm.configurator.apm_OPCDA_To_IGS_UA_Server_URL="opc.tcp://127.0.0.1:49310"
com.ge.pfa.apm.configurator.apm_Cimplicity_To_UA_Server_URL="opc.tcp://127.0.0.1:51800"

# Cimplicity OPC UA Username/password
com.ge.pfa.apm.configurator.apm_Cimplicity_Username="PFA_USER"
com.ge.pfa.apm.configurator.apm_Cimplicity_Password=""


# Cimplicity Properties
#Cimplicity blurprint copy directory
com.ge.pfa.apm.configurator.cimplicityblueprintlocation="C:\\CIMP\\Blueprints"
#Cimplicity executable file
com.ge.pfa.apm.configurator.cimplicityexecutablefile="C:\\CIMP\\Tools\\ImportCNCObjectsFromFile.exe"

#Timout in milliseconds per blueprint. While executing the executable,
#adjust the timeout, how long you want the process to wait before timing out.
#The code will calculate number of blueprints*cimplicityexecutabletimeout
com.ge.pfa.apm.configurator.cimplicityexecutabletimeout="100000"
com.ge.pfa.apm.configurator.password.encrypted="Bc3BZ6pSZiyWEXEg2ACiMtibd0ip7zV/esaa0I7XxZ4dy/7UGjRIyOIDEWpd+nq4"
com.ge.pfa.apm.configurator.apm_Cimplicity_Password.encrypted="5xdFPo1+cJsTvPPO7VCeBI0dAC6t7yRR2vF0W3w4nFQ\="
